{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    {{title}}
{% endblock title %}
{% block content %}
    <div class="container">
    </div>
    <div class="container">
        <h1>{{message}}</h1>
        <ul class="list-group">
            {% for product in object_list %}
            <li class="list-group-item">
                {{product.title}}
                <span class="text-success">{{product.price}}</span>
            </li>
            {% empty %}
            <h3>no hay productos en la tienda esto esta pelado</h3>
            {% endfor %}
        </ul>
        <img src="{% static 'img/mochilo.jpg' %}" alt="">
    </div>

    {% endblock content %}
