{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    register
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Registrarse</h2>
                <form method="post"> {% csrf_token %}
                
                {% for field in form %}
                <div class="form-group">
                    {{field.label_tag}}
                    {{field}}
                    {% if field.errors %}
                        {{field.errors}}
                    {% endif %}

                </div>
                {% endfor %}

                    <button class="btn btn-primary" type="submit">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}